@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-principal) !important;
  caret-color: var(--color-principal) !important;
  box-shadow: inset 0 0 0 100px #292929 !important;
}

:root {
  --color-principal: #d3cdc3;
  --color-secundario: #222323;
  --color-terceario: #7a1f2d;
}

body {
  background-color: var(--color-secundario);
  color: var(--color-principal);
}